html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  font-family: Arial, Verdana, sans-serif;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  color: #fff;
  background-color: #070217;
}

.logo-link {
  margin-bottom: 50px;
}

.modules-indens {
  margin-bottom: 50px;
}

.modules-link,
.indents-link {
  display: inline-block;
  padding: 24px 49px;
  background-color: #3f2aff;
  font-weight: 700;
  font-size: 18px;
}

.indents-link:not(:last-child),
.modules-link:not(:last-child) {
  margin-right: 25px;
}

.download-program {
  font-weight: 700;
  font-size: 18px;
  color: #3f2aff;
}

.download-program--icon {
  padding-left: 25px;
  background-image: url("../img/download.png");
  background-position: left center;
  background-size: 20px 20px;
  background-repeat: no-repeat;
}


.container {
  margin: 0 auto;
  padding: 80px 0;
  width: 1170px;
  max-width: 100%;
}

.main-title {
  margin: 0;
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 60px;
  line-height: 60px;
  color: #333;
}

.text {
  margin: 0;
  margin-bottom: 40px;
  width: 872px;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #333;
}

.text-fon {
  border-radius: 20px;
  background-color: #3f2aff;
  display: inline-block;
  padding: 50px 95px;
  width: 100%;
  font-weight: 700;
  font-size: 30px;
  color: #fff;
}

.gray-block {
  border-radius: 20px;
  display: inline-block;
  padding: 30px;
  width: 100%;
  background-position: right center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #f3f3f3;
}

.gray-block:not(:last-child) {
  margin-bottom: 40px;
}

.gray-block p {
  margin: 0;
  margin-bottom: 10px;
  width: 692px;

}

.gray-block--img {
  background-image: url(../img/decorate-1.png);
}

.gray-block--image {
  background-image: url(../img/decorate-2.png);
}

.subtitle-text {
  margin: 0;
  margin-bottom: 10px;
  border-width: 872px;
  font-size: 40px;
  line-height: 46px;
  color: #333;
}

.subtitle {
  margin: 0;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 30px;
  line-height: 34px;
  color: #333;
}

.padding-block li::marker {
  margin: 0;
  color: #3f2aff;
}

.padding-block {
  padding-left: 15px;
}

.list:not(:last-child) {
  margin: 0;
  margin-bottom: 20px;
}

.link-list {
  border-bottom: 1px solid #3f2aff;
  font-size: 20px;
  color: #3f2aff;
}

.image:not(figure img) {
  margin-bottom: 40px;
}

.image-wrapper {
  margin: 0;
  display: inline-block;
  /* margin-bottom: 40px; */
  font-size: 0;
  border-width: 872;

}

.image-description {
  border: 1px solid #b6b6b6;
  border-top: none;
  padding: 19px;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
}

.box {
  margin: 0 auto;
  padding: 50px 0;
  width: 1170px;
  max-width: 100%;
}

.header-logo {
  width: 137px;
  height: 30px;
  margin-bottom: 25px;
}

.home-page {
  margin-bottom: 25px;
}

.home-linc-icon {
  padding-left: 50px;
  background-image: url(../img/Arrow\ 1.svg);
  background-position: left center;
  background-size: 45px 45px;
  background-repeat: no-repeat;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #3F2AFF;
}

.title {
  margin: 0;
  margin-bottom: 50px;
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 69px;
  color: #3F2AFF;
}

.card-list {
  font-size: 0;
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  list-style: none;
}

.card {
  margin: 0 auto;
  margin-bottom: 25px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  background-color: #fff;
  width: 572px;
  height: 505px;
  padding: 25px;
  padding-top: 205px;
  filter: drop-shadow(0px 0px 40px rgba(0, 0, 0, 0.1));
}

.card:not(:nth-child(2)):not(:nth-child(4)) {
  margin-right: 25px;
}

.card-img {
  background-image: url("../img/photo-1.1.jpg");
  background-repeat: no-repeat;
  background-size: 572px 180px;
}

.card-img-photo {
  background-image: url("../img/photo-1.2.jpg");
  background-repeat: no-repeat;
  background-size: 572px 180px;
}

.card-image {
  background-image: url("../img/photo-1.3.jpg");
  background-repeat: no-repeat;
  background-size: 572px 180px;
}

.card-image-fon {
  background-image: url("../img/photo-1.4.jpg");
  background-repeat: no-repeat;
  background-size: 572px 180px;
}

.card_subtitle {
  margin: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 46px;
  margin-top: 0;
  color: #3F2AFF;
}

.card ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.card-text {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 165%;
  color: #333;
}

.card-number {
  margin: 0;
  position: absolute;
  right: 25px;
  top: 434px;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 46px;
  text-align: right;
  color: #EAEAEA;
}
